# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# PyCharm
.idea/
*.iml

# Odoo / logs
*.log

# Environment / secrets
.env

# Database dumps
*.sql
*.dump

# OS
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# Node
node_modules/